body {
  margin: 32px;
}

#colors {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.color {
  width: 64px;
  height: 64px;
  margin-right: 4px;
  cursor: pointer;
}

.selected {
  height: 72px;
}

#palette {
  display: flex;
  justify-content: center;
}

.swatch {
  width: 100px;
}

.swatch__color {
  width: 100px;
  height: 32px;
}